<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299440856497-6f4rque68ltm13d3hn9c9p63mvh8g96h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299440856497-6f4rque68ltm13d3hn9c9p63mvh8g96h</string>
	<key>API_KEY</key>
	<string>AIzaSyB_nW6rrdr9NVnHnuYnXvkX-VHFiGg1kRc</string>
	<key>GCM_SENDER_ID</key>
	<string>299440856497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elmira.ChatterApp</string>
	<key>PROJECT_ID</key>
	<string>chatterapp-e98b9</string>
	<key>STORAGE_BUCKET</key>
	<string>chatterapp-e98b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299440856497:ios:ffef939da343b0dfa53190</string>
</dict>
</plist>